body{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2f3060;
}

div{
  width: 90%;
  display: flex;
  justify-content: center;
}

button{
  height: 100px;
  width: 250px;
  margin: 30px;
  border-radius: 5px;
  border: none;
  color: whitesmoke;
  font-size: 30px;
  box-shadow: inset 0px -8px 0px 0px rgba(0,0,0,0.3), inset 0px 4px 0px 0px rgba(277,277,277,0.2), 0px 0px 5px 0px rgba(0,0,0,0.75);
}

button:hover{
  filter: brightness(110%);
}

button:active{
  filter: brightness(90%);
  box-shadow: inset 0px 8px 0px 0px rgba(0,0,0,0.3), 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding-top: 8px;
}

button:focus{
  outline: 0;
}

.blue{
  background-color: #3d5a9a;
}

.green{
  background-color: #18a452;
}

.red{
  background-color: #d03e2e;
}

.light{
  background-color: #01a9ec;
}

.black{
  background-color: #242527;
}

.white{
  background-color: #eaeef7;
  color: #242527;
}