
*{
  box-sizing: border-box;
  margin: 0px;
}

header{
  position: fixed;
  width: 100%;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 5px;
  margin: 0px;
  background-color: #b02aff;
  height: 40px;
  align-items: center;

}

.item {
  background-color: #2aeaff;
  height: 60%;
  width: 10%;
  list-style: none;
  margin: 0px 5px;
}

header::after{
  content: "";
  margin: auto;
display: block;
}

.home{
  width: 12%;
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0px 0px 0px;
}

.article{
  background-color: #ffd62a;
  width: 600px;
  height: 500px;
  margin: 10px 5px 5px 5px;
}

.sidebar{
  background-color: #51d400;
  width: 200px;
  height: 500px;
  margin: 10px 5px 5px 5px;
}

footer{
  background-color: #cccccc;
  width: 810px;
  height: 50px;
  margin: 5px;
  justify-content: center;
}