body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/*** MAIN CONTAINER ***/

main {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
}

/* UPPER PART CONTAINER */

section {
  display: flex;
  height: 85%;
  padding: 10px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
}

/* LEFT SIDE  + PLAYLISTS*/

article {
  height: 100%;
  width: 50%;
}

header {
  height: 40%;
  display: flex;
}

header > #display {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #f5f5f5;
}

#display > #logo {
  float: left;
  display: block;
  max-height: 150px;
  max-width: 120px;
  height: 80%;
  width: 80%;
}

#display > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
}

#display > div > #playlist_label{
  width: 80%;
  font-size: 1.2em;
  font-weight: bold;
}

#display > div > #new_playlist {
  height: 20px;
  width: 20%;
  background-image: url(../assets/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

header > #artwork {
  width: 40%;
  background-image: url(../assets/music-placeholder.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f5f5f5;
}

article > ul {
  list-style: none;
  margin: 5px 10px;
  padding: 0;
} 

#playlists > li {
  padding: 5px 0;
}

#playlists > li:nth-child(odd) {
  background-color: #eaeaea;
}

/*** TRACKS ***/

aside {
  height: 100%;
  width: 50%;
  padding: 0 0 0 10px;
}

#current {
  height: 20%;
  display: flex;
  align-items: center;
}

#current_info {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#current_info > #song {
  font-size: 1.2em;
  height: 60%;
  font-weight: bold;
}

#current_info > #band {
  height: 40%;
}

#current > #addto_playlist {
  width: 10%;
  height: 20px;
  background-image: url(../assets/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

#current > #addto_favorite {
  width: 10%;
  height: 20px;
  background-image: url(../assets/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

aside > #tracks {
  overflow: auto;
  height: 80%;
}

aside > #tracks > .track {
  height: 30px;
  line-height: 30px;
}

.track > .number {
  display: inline-block;
  text-align: center;
  width: 40px;
}

.track > .duration {
  float: right;
  padding: 0 10px 0 0;
} 

aside > #tracks .track:nth-child(odd) {
  background-color: #eaeaea;
}

aside > #tracks > .track:hover {
  background-color: #abe7e5;
}

#tracks > #selected {
  background-color: #abe7e5;
}

/*** CONTROLS ***/

footer {
  height: 15%;
  display: flex;
  padding: 10px;
} 

/* PLAY CONTROL BUTTONS */

footer > #buttons {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ** control buttons ** */

#buttons > #rewind {
  height: 20px;
  width: 20%;
  background-image: url(../assets/rewind.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

#buttons > .play {
  height: 30px;
  width: 20%;
  background-image: url(../assets/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

#buttons > .pause {
  height: 20px;
  width: 20%;
  background-image: url(../assets/pause.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

#buttons > #forward {
  height: 20px;
  width: 20%;
  background-image: url(../assets/forward.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

/* *** PROGRESS BAR *** */

footer > #progress {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#progress > #time_slider {
  width: 80%;
}

#progress > #shuffle {
  height: 20px;
  width: 30px;
  background-image: url(../assets/shuffle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}



/* *** VOLUME CONTROL *** */

footer {
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
}

footer > #volume {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#volume > #mute {
  height: 20px;
  width: 30px;
  background-image: url(../assets/volume.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

input {
  width: 80%;
}



