body{
  background-color: #333333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  margin: 5px;
}

.purple{
  background-color: #b02aff;
  padding: 50px;
}

.green{
  background-color: #51d400;
  grid-column: 2/4;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow{
  background-color: #ffd62a;
  width: 70%;
  height: 70%;
}