* {
  box-sizing: border-box;
}

body{
  display:flex;
  justify-content: center;
}

.box {
  margin: 5px;
  width: 120px;
  height: 100px;
  border: 1px solid black;
}

ul{
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
}

li {
  list-style: none;
}

.highlight{
  background-color: lightgrey;
}

.buttons {
  margin: 5px;
  width: 120px;
  height: 100px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

button {
  margin: 0px;
}

button:hover{
  background-color: grey;
  border: 2px solid black;
}

