body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: block;
}

/* HEADER STYLE */

header{
  /* background-image: url(../assets/veilnebula.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 40%; */
  background-color: black;
  height: 30vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

header > h1 {
  margin: 0;
  text-transform: uppercase;
}

/* FULL PAGE CONTAINER */

article{
  display: flex;
  justify-content: center; 
}

/* POST CONTAINER */

main{
  margin: 0 10px 0 10px;
  width: 60%;
  border-radius: 3px;
}

/* RIGHT SIDEBAR STYLE */

aside{
  width: 20%;
  margin-right: 10px;
}

aside > button {
  font-size: 1em;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
  border: none;
  background-color: #3d5a9a;
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
}

aside > button:hover{
  filter: brightness(120%)
}

.aside-content, .controls, .user {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.aside-content > h2 {
  margin-top: 0;
}

/* CONTROLS SECTION */

.controls{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.controls > h4 {
  margin: 0 20px 0 20px;
}

/* USER SECTION */

.user > h4 {
  margin: 0;
}

/* POST STYLES */

.post{
  display: flex;
  padding: 10px 0;
}

.score{
  width: 60px;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posttext > h2 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.posttext > p {
  margin-top: 0;
  margin-bottom: 5px;
}

.smalllinks > a{
  font-size: 12px;
  padding-right: 5px;
}
/* UPVOTE SECTION */

.smalllinks > div > span{
  font-size: 14px;
}

.upvote{
  background-image: url(../assets/upvote.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
}

.upvote:hover{
  background-image: url(../assets/upvoted.png);
}

.upvoted{
  background-image: url(../assets/upvoted.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
}

/* DONVOTE SECTION */

.downvote{
  background-image: url(../assets/downvote.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
}

.downvote:hover{
  background-image: url(../assets/downvoted.png);
}

.downvoted{
  background-image: url(../assets/downvoted.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
}

/* DARK MODE SWITCH ELEMENT*/

.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #95CAFF;
  transition: .4s;
  border-radius: 35px;
}

.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 3px;
  left: 4px;
  right: 4px;
  background-image: url(../assets/sun.png);
  background-size: 26px;
  background-position: center;
  border-radius: 50%;
}

input:checked + .slider{
  background-color:rgb(40, 40, 40);
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-image: url(../assets/moon.png);
  background-size: 26px;
  background-position: center;
  /* background-color: yellow; */
}

