body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #CDCDCD;
  display: block;
}

/* HEADER STYLE */

header{
  background-image: url(../assets/veilnebula.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 40%;
  height: 30vh;
  color: white;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  margin: 0;
  text-transform: uppercase;
}

/* FULL PAGE CONTAINER */

article{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

main{
  background-color: white;
  margin: 10px;
  padding: 20px;
  width: 60%;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
}

/* FORM STYLE */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > div{
  width: 95%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div > * {
  border-radius: 3px;
}

label, h2{
  width: 100%;
  display: block;
  text-align: start;
}

h2{
  margin-top: 0;
  margin-bottom: 20px;
}
label{
  margin-bottom: 5px;
}


input, textarea{
  height: 20px;
  width: 100%;
  margin-bottom: 20px;
  border: solid 1px #CDCDCD;
}

input:hover, textarea:hover{
  border: solid 1px #3d5a9a;
}

textarea{
  height: 80px;
}

/* BUTTON STYLES */

.buttons {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  font-size: 1em;
  width: 96%;
  margin: 10px 0 10px 0;
  padding: 10px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
  border: none;
  background-color: #3d5a9a;
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
}

button:hover{
  filter: brightness(120%);
}

.back {
  background-color: #d03e2e;
}