
.container {
  display: flex;
  align-items: center;
}

.item{
  height: 100px;
  width: 100px;
}

.green{
  background-color: #51d400;
}

.yellow{
  background-color: #ffd62a;
}

.purple{
  background-color:#b02aff;
}